<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <!-- <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th> -->
        <th>Id</th>
        <th>Obra</th>
        <th>Usuario</th>
        <th>Sesion</th>
        <th>Tipo</th>
        <th>Punto</th>
        <th>Costo</th>
        <th>Fecha Creacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (comite of comites(); track comite.id_comite) {
      <tr>
        <!-- <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th> -->
        <td>
          {{ comite.id_comite }}
        </td>
        <td>
          {{ comite.obra.calle }}
        </td>
        <td>
          {{ comite.usuario.nombres }} {{ comite.usuario.apellido_paterno }} {{ comite.usuario.apellido_materno }}
        </td>
        <td>
          {{ comite.sesion }}
        </td>
        <td>
          {{ comite.tipo }}
        </td>
        <th>
          {{ comite.punto }}
        </th>
        <th>
          {{ comite.costo }}
        </th>
        <th>
          {{ comite.fecha_creacion }}
        </th>
        <th>
          <div class="dropdown dropdown-hover dropdown-left">
            <div class="btn btn-info btn-sm rounded-lg shadow-sm hover:scale-105 transition m-1"><svg
                xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0 5.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0 5.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3z" />
              </svg>
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-48 p-2 shadow-sm">
              <li *ngIf ="comite.estatus && authService.tienePermiso('Comites', 'Eliminar')">
                <button class="btn btn-sm btn-error" (click)="deleteObra(comite.id_comite, comite.obra.calle)"
                  [disabled]="isDeleting(comite.id_comite)">
                  @if (isDeleting(comite.id_comite)) {
                  <span class="loading loading-spinner loading-xs"></span>
                  Eliminando...
                  } @else {
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                  Eliminar
                  }
                </button>
              </li>
              <li *ngIf ="!comite.estatus && authService.isAdmin">
                <button class="btn btn-sm btn-info" (click)="reactivarObra(comite.id_comite, comite.obra.calle)"
                  [disabled]="isDeleting(comite.id_comite)">
                  @if (isDeleting(comite.id_comite)) {
                  <span class="loading loading-spinner loading-xs"></span>
                  Reactivando...
                  } @else {
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                  Reactivar
                  }
                </button>
              </li>
            </ul>
          </div>
        </th>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Modal -->
<dialog id="editar_obra_model" class="modal">
  <div class="modal-box w-11/12 max-w-2xl">
    <h3 class="text-lg font-bold">Editar Obra</h3>
    <p class="py-4">Actualiza la información necesaria</p>

    <!-- Formulario real (ngSubmit)="onSubmit()"  -->
    <form [formGroup]="comiteForm" class="flex flex-col gap-3">
      <!-- Calle -->
      <input type="text" placeholder="Calle" class="input input-bordered w-full" formControlName="calle" />
      <form-error-label [control]="comiteForm.get('calle')!" />

      <!-- Colonia -->
      <select formControlName="id_colonia" class="select select-bordered w-full">
        <option value="">Seleccione una colonia</option>
        @for (obra of obras(); track obra.id_obra) {
        <!-- <option [value]="obra.id_obra">{{ obra.calle }}</option> -->
        }
      </select>
      <form-error-label [control]="comiteForm.get('id_colonia')!" />

      <!-- Tramo -->
      <input type="text" placeholder="Tramo" class="input input-bordered w-full" formControlName="tramo" />
      <form-error-label [control]="comiteForm.get('tramo')!" />

      <!-- Botones -->
      <div class="modal-action">
        <button type="submit" class="btn btn-secondary">Actualizar</button>
        <button type="button" class="btn" onclick="editar_obra_model.close()">Cancelar</button>
      </div>
    </form>
  </div>
</dialog>