<h1 class="text-2xl font-bold">{{ obra().calle }}</h1>
<div class="divider"></div>

<form [formGroup]="productForm" class="grid grid-cols-1 sm:grid-cols-2 gap-4" (ngSubmit)="onSubmit()">
  <!-- Datos generales -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    <input type="text" placeholder="Calle" class="input input-bordered w-full" formControlName="calle"
      [class.border-red-500]="productForm.get('calle')?.errors ?? false" />
    <form-error-label [control]="productForm.get('calle')!" />

    <select formControlName="colonia" class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('colonia')?.errors ?? false">

      <option value="">Seleccione una colonia</option>
      @for (colonia of colonias(); track colonia.id_obra) {
      <option [value]="colonia.id_colonia">
        {{ colonia.colonia }}
      </option>
      }
    </select>

    <form-error-label [control]="productForm.get('colonia')!" />

    <input type="text" placeholder="tramo" class="input input-bordered w-full" formControlName="tramo"
      [class.border-red-500]="productForm.get('tramo')?.errors ?? false" />
    <form-error-label [control]="productForm.get('tramo')!" />

    <!--input type="file" multiple accept="pdf/*" class="file-input file-input-bordered w-full"
      (change)="onFilesChanged($event)" /-->
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        <!--span class="loading loading-spinner loading-sm"></span-->
        Guardar
      </button>
    </div>

  </div>
</form>

@if (wasSaved()) {
<div class="alert alert-success fixed bottom-4 right-4 w-80 animate-fadeIn">
  <span>Datos actualizados correctamente</span>
</div>

}