<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <!-- <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th> -->
        <th>Id</th>
        <th>Obra</th>
        <th>Solicitante</th>
        <th>Laboratorio</th>
        <th>Mecanico_de_suelos</th>
        <th>Fecha_solicitud</th>
        <th>Fecha_laboratorio</th>
        <th>Fecha_ms</th>
      </tr>
    </thead>
    <tbody>
      @for (solicitud of solicitudes(); track solicitud.id_solicitud) {
      <tr [ngClass]="getColorClase(solicitud.estatus)">
        <!-- <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th> -->
        <td>
          {{ solicitud.id_solicitud }}
        </td>
        <td>
          {{ solicitud.obra.calle }}
        </td>
        <td>
          {{ solicitud.solicitante.nombres }} {{ solicitud.solicitante.apellido_paterno }} {{
          solicitud.solicitante.apellido_materno }}
        </td>
        <td>
          {{ solicitud.laboratorista.nombres }} {{ solicitud.laboratorista.apellido_paterno }} {{
          solicitud.laboratorista.apellido_materno }}
        </td>
        <td>
          {{ solicitud.mecanico_de_suelos.nombres }} {{ solicitud.mecanico_de_suelos.apellido_paterno }} {{
          solicitud.mecanico_de_suelos.apellido_materno }}
        </td>
        <td>
          {{ solicitud.fecha_solicitud | date: 'dd/MM/yyyy HH:mm' }}
        </td>
        <th>
          {{ solicitud.fecha_laboratorio | date: 'dd/MM/yyyy HH:mm' }}
        </th>
        <th>
          {{ solicitud.fecha_ms | date: 'dd/MM/yyyy HH:mm' }}
        </th>
        <th>
          <div class="dropdown dropdown-hover dropdown-left">
            <div class="btn btn-info btn-sm rounded-lg shadow-sm hover:scale-105 transition m-1"><svg
                xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0 5.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0 5.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3z" />
              </svg>
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-48 p-2 shadow-sm">
              <li *ngIf="authService.tienePermiso('Solicitudes', 'Editar')">
                <button class="btn btn-sm btn-primary" (click)="openEditModal(solicitud)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 
          112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                  </svg>
                  Editar
                </button>
              </li>
              <li *ngIf="!solicitud.laboratorio">
                <label class="btn btn-sm btn-accent cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                  </svg>
                  Subir Resultado Laboratorio
                  <input type="file" accept=".pdf" class="hidden"
                    (change)="onPdfSelectedLaboratorio($event, solicitud.id_solicitud)" />
                </label>
              </li>
              <li *ngIf="solicitud.solicitud">
                <button class="btn btn-sm btn-secondary" (click)="verPdfSolicitud(solicitud.id_solicitud)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12H9m12-6H3m12 12H9m12-6H3" />
                  </svg>
                  Ver Solicitud
                </button>
              </li>
              <li *ngIf="solicitud.solicitud">
                <label class="btn btn-sm btn-accent cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                  </svg>
                  Reemplazar Solicitud
                  <input type="file" accept=".pdf" class="hidden"
                    (change)="onPdfSelectedLaboratorio($event, solicitud.id_solicitud)" />
                </label>
              </li>
              <li *ngIf="solicitud.laboratorio">
                <button class="btn btn-sm btn-secondary" (click)="verPdfLaboratorio(solicitud.id_solicitud)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12H9m12-6H3m12 12H9m12-6H3" />
                  </svg>
                  Ver Laboratorio
                </button>
              </li>
              <li *ngIf="solicitud.laboratorio">
                <label class="btn btn-sm btn-accent cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                  </svg>
                  Reemplazar Laboratorio
                  <input type="file" accept=".pdf" class="hidden"
                    (change)="onPdfSelectedLaboratorio($event, solicitud.id_solicitud)" />
                </label>
              </li>
              <li *ngIf="!solicitud.mecanica_de_suelos">
                <label class="btn btn-sm btn-accent cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                  </svg>
                  Subir Resultado Mecanica de suelos
                  <input type="file" accept=".pdf" class="hidden"
                    (change)="onPdfSelectedMecanicaDeSuelos($event, solicitud.id_solicitud)" />
                </label>
              </li>
              <li *ngIf="solicitud.mecanica_de_suelos">
                <button class="btn btn-sm btn-secondary" (click)="verPdfMecanicaDeSuelos(solicitud.id_solicitud)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12H9m12-6H3m12 12H9m12-6H3" />
                  </svg>
                  Ver Mecanica de suelos
                </button>
              </li>
              <li *ngIf="solicitud.mecanica_de_suelos">
                <label class="btn btn-sm btn-accent cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                  </svg>
                  Reemplazar Mecanica de suelos
                  <input type="file" accept=".pdf" class="hidden"
                    (change)="onPdfSelectedMecanicaDeSuelos($event, solicitud.id_solicitud)" />
                </label>
              </li>
              <li *ngIf="solicitud.estatus && authService.tienePermiso('Solicitudes', 'Eliminar')">
                <button class="btn btn-sm btn-error"
                  (click)="deleteSolicitud(solicitud.id_solicitud, solicitud.obra.calle)"
                  [disabled]="isDeleting(solicitud.id_solicitud)">
                  @if (isDeleting(solicitud.id_solicitud)) {
                  <span class="loading loading-spinner loading-xs"></span>
                  Eliminando...
                  } @else {
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                  Eliminar
                  }
                </button>
              </li>
              <li *ngIf="!solicitud.estatus && authService.isAdmin">
                <button class="btn btn-sm btn-info"
                  (click)="reactivarSolicitud(solicitud.id_solicitud, solicitud.obra.calle)"
                  [disabled]="isDeleting(solicitud.id_solicitud)">
                  @if (isDeleting(solicitud.id_solicitud)) {
                  <span class="loading loading-spinner loading-xs"></span>
                  Reactivando...
                  } @else {
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                  Reactivar
                  }
                </button>
              </li>
            </ul>
          </div>
        </th>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Modal -->
<dialog id="editar_solicitud_model" class="modal">
  <div class="modal-box w-11/12 max-w-2xl">
    <h3 class="text-lg font-bold">Editar Solicitud</h3>
    <p class="py-4">Actualiza la información necesaria</p>

    <!-- Formulario real -->
    <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
      <!-- Obra -->
      <div class="form-control md:col-span-2">
        <label class="label">
          <span class="label-text font-medium">Obra</span>
        </label>
        <select formControlName="id_obra" class="select select-bordered w-full">
          <option value="">Seleccione una obra</option>
          @for (obra of obras(); track obra.id_obra) {
          <option [value]="obra.id_obra">{{ obra.calle }}</option>
          }
        </select>
        <form-error-label [control]="solicitudForm.get('id_obra')!" />
      </div>

      <!-- Laboratorista -->
      <div class="form-control md:col-span-2">
        <label class="label">
          <span class="label-text font-medium">Laboratorista</span>
        </label>
        <select formControlName="id_usuario_laboratorio" class="select select-bordered w-full">
          <option value="">Seleccione un laboratorista</option>
          @for (laboratorista of laboratoristas(); track laboratorista.id_usuario) {
          <option [value]="laboratorista.id_usuario">{{ laboratorista.apellido_paterno }} {{
            laboratorista.apellido_materno }} {{ laboratorista.nombres }}</option>
          }
        </select>
        <form-error-label [control]="solicitudForm.get('id_usuario_laboratorio')!" />
      </div>

      <!-- Mecanico de Suelos -->
      <div class="form-control md:col-span-2">
        <label class="label">
          <span class="label-text font-medium">Mecanica de Suelos</span>
        </label>
        <select formControlName="id_usuario_ms" class="select select-bordered w-full">
          <option value="">Seleccione un mecanico de suelos</option>
          @for (mecanicoDeSuelos of mecanicosDeSuelos(); track mecanicoDeSuelos.id_usuario) {
          <option [value]="mecanicoDeSuelos.id_usuario">{{ mecanicoDeSuelos.apellido_paterno}} {{
            mecanicoDeSuelos.apellido_materno}} {{ mecanicoDeSuelos.nombres}}</option>
          }
        </select>
        <form-error-label [control]="solicitudForm.get('id_usuario_ms')!" />
      </div>

      <!-- Botones -->
      <div class="modal-action">
        <button type="submit" class="btn btn-secondary">Actualizar</button>
        <button type="button" class="btn" onclick="editar_solicitud_model.close()">Cancelar</button>
      </div>
    </form>
  </div>
</dialog>