<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <!-- <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th> -->
        <th>Id</th>
        <th>Obra</th>
        <th>Solicitante</th>
        <th>Sapalista</th>
        <th>Fecha de Entrega</th>
      </tr>
    </thead>
    <tbody>
      @for (oficioSapal of oficiosSapal(); track oficioSapal.id_oficio_sapal) {
      <tr>
        <!-- <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th> -->
        <td>
          {{ oficioSapal.id_oficio_sapal }}
        </td>
        <td>
          {{ oficioSapal.obra.calle }}
        </td>
        <td>
          {{ oficioSapal.usuario.nombres }} {{ oficioSapal.usuario.apellido_paterno }} {{
          oficioSapal.usuario.apellido_materno }}
        </td>
        <td>
          {{ oficioSapal.empleado_sapal.nombres }} {{ oficioSapal.empleado_sapal.apellido_paterno }} {{
          oficioSapal.empleado_sapal.apellido_materno }}
        </td>
        <th>
          {{ oficioSapal.fecha_de_entrega | date: 'dd/MM/yyyy HH:mm' }}
        </th>
        <th>
          <div class="dropdown dropdown-hover dropdown-left">
            <div class="btn btn-info btn-sm rounded-lg shadow-sm hover:scale-105 transition m-1"><svg
                xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0 5.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0 5.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3z" />
              </svg>
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-48 p-2 shadow-sm">
              <li>
                <button class="btn btn-sm btn-primary" (click)="openEditModal(oficioSapal)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 
          112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                  </svg>
                  Editar
                </button>
              </li>
              <li *ngIf="oficioSapal.oficio_de_recibido">
                <button class="btn btn-sm btn-secondary" (click)="verPdfRecibido(oficioSapal.id_oficio_sapal)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12H9m12-6H3m12 12H9m12-6H3" />
                  </svg>
                  Ver Oficio de Recibido
                </button>
              </li>
              <li *ngIf="oficioSapal.oficio_de_recibido">
                <label class="btn btn-sm btn-accent cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                  </svg>
                  Reemplazar Oficio de Recibido
                  <input type="file" accept=".pdf" class="hidden"
                    (change)="onPdfSelectedRecibido($event, oficioSapal.id_oficio_sapal)" />
                </label>
              </li>
              <li *ngIf="!oficioSapal.oficio_de_revision">
                <label class="btn btn-sm btn-accent cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                  </svg>
                  Subir Oficio de Revisado
                  <input type="file" accept=".pdf" class="hidden"
                    (change)="onPdfSelectedRevisado($event, oficioSapal.id_oficio_sapal)" />
                </label>
              </li>
              <li *ngIf="oficioSapal.oficio_de_revision">
                <button class="btn btn-sm btn-secondary" (click)="verPdfRevisado(oficioSapal.id_oficio_sapal)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12H9m12-6H3m12 12H9m12-6H3" />
                  </svg>
                  Ver Revision
                </button>
              </li>
              <li *ngIf="oficioSapal.oficio_de_revision">
                <label class="btn btn-sm btn-accent cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                  </svg>
                  Reemplazar Oficio de Revision
                  <input type="file" accept=".pdf" class="hidden"
                    (change)="onPdfSelectedRevisado($event, oficioSapal.id_oficio_sapal)" />
                </label>
              </li>
              <li *ngIf="oficioSapal.estatus">
                <button class="btn btn-sm btn-error"
                  (click)="deleteOficioSapal(oficioSapal.id_oficio_sapal, oficioSapal.obra.calle)"
                  [disabled]="isDeleting(oficioSapal.id_oficio_sapal)">
                  @if (isDeleting(oficioSapal.id_oficio_sapal)) {
                  <span class="loading loading-spinner loading-xs"></span>
                  Eliminando...
                  } @else {
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                  Eliminar
                  }
                </button>
              </li>
              <li *ngIf="!oficioSapal.estatus">
                <button class="btn btn-sm btn-info"
                  (click)="reactivarOficioSapal(oficioSapal.id_oficio_sapal, oficioSapal.obra.calle)"
                  [disabled]="isDeleting(oficioSapal.id_oficio_sapal)">
                  @if (isDeleting(oficioSapal.id_oficio_sapal)) {
                  <span class="loading loading-spinner loading-xs"></span>
                  Reactivando...
                  } @else {
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                  Reactivar
                  }
                </button>
              </li>
            </ul>
          </div>
        </th>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Modal -->
<dialog id="editar_oficio_sapal_model" class="modal">
  <div class="modal-box w-11/12 max-w-2xl">
    <h3 class="text-lg font-bold">Editar Oficio Sapal</h3>
    <p class="py-4">Actualiza la información necesaria</p>

    <!-- Formulario real -->
    <form [formGroup]="oficioSapalForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
      <!-- Obra -->
      <label class="cursor-pointer label">
        <span class="label-text">Obra</span>
        <select formControlName="id_obra" class="select select-bordered w-full">
          <option value="">Seleccione una obra</option>
          @for (obra of obras(); track obra.id_obra) {
          <option [value]="obra.id_obra">{{ obra.calle }}</option>
          }
        </select>
      </label>
      <form-error-label [control]="oficioSapalForm.get('id_obra')!" />

      <!-- Sapalista -->
      <label class="cursor-pointer label">
        <span class="label-text">Sapalista</span>
        <select formControlName="id_usuario_sapal" class="select select-bordered w-full">
          <option value="">Seleccione un laboratorista</option>
          @for (sapalista of sapaleros(); track sapalista.id_usuario) {
          <option [value]="sapalista.id_usuario">{{ sapalista.apellido_paterno }} {{
            sapalista.apellido_materno }} {{ sapalista.nombres }}</option>
          }
        </select>
      </label>
      <form-error-label [control]="oficioSapalForm.get('id_usuario_sapal')!" />

      <!-- Botones -->
      <div class="modal-action">
        <button type="submit" class="btn btn-secondary">Actualizar</button>
        <button type="button" class="btn" onclick="editar_oficio_sapal_model.close()">Cancelar</button>
      </div>
    </form>
  </div>
</dialog>