<h1 class="text-3xl font-bold font-montserrat text-center mb-5">Solicitudes en existencia</h1>
<h2 class="text-xl mb-5">UwU</h2>

<div class="divider"></div>

<div class="join w-full" *ngIf="authService.tienePermiso('Solicitudes', 'Consultar')">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="join w-full flex">
    <!-- Campo de búsqueda -->
    <div class="flex-grow relative">
      <input class="input join-item w-full pr-10" placeholder="Buscar..." formControlName="busqueda" />

      <!-- Botón limpiador -->
      <button *ngIf="searchForm.get('busqueda')?.value" type="button"
        class="btn btn-xs absolute right-2 top-1/2 -translate-y-1/2" (click)="clearSearch()">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="auto" height="auto"
          viewBox="0 0 786.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
          <metadata>
            Created by potrace 1.15, written by Peter Selinger 2001-2017
          </metadata>
          <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
            <path d="M235 12793 c-133 -29 -222 -128 -232 -257 -11 -134 47 -248 224 -442
            293 -320 500 -557 749 -854 1488 -1775 2531 -3568 2999 -5153 42 -145 127
            -470 122 -472 -1 -1 -144 -39 -317 -84 -173 -45 -327 -87 -343 -93 -15 -6 -39
            -24 -53 -41 -49 -58 -41 -77 211 -532 125 -225 241 -439 258 -474 l30 -63 -6
            -182 c-34 -1037 -681 -2338 -1482 -2981 -49 -39 -135 -102 -190 -139 -100 -67
            -135 -106 -135 -154 0 -55 110 -217 242 -356 69 -72 75 -76 116 -76 42 0 99
            23 154 61 14 11 29 19 33 19 3 0 -10 -29 -30 -63 -25 -46 -35 -76 -35 -107 0
            -38 5 -48 43 -84 78 -75 293 -165 489 -206 206 -43 332 -54 623 -54 552 -1
            1085 88 1645 274 292 97 312 107 349 172 17 29 33 58 35 63 3 6 10 1 17 -10 7
            -11 34 -42 60 -70 187 -197 496 -207 697 -21 54 49 95 108 118 167 9 24 20 48
            24 52 4 5 31 1 61 -7 104 -31 251 -16 357 38 100 51 196 159 237 269 18 47 18
            47 54 40 20 -5 73 -8 118 -7 73 0 89 4 156 37 90 44 147 103 190 195 29 61 32
            76 32 162 0 86 -3 101 -31 161 -141 297 -522 323 -705 48 l-24 -36 -53 25 -53
            24 42 41 c67 67 94 135 94 237 0 73 -4 93 -28 142 -35 72 -93 130 -165 165
            -49 24 -69 28 -142 28 -73 0 -93 -4 -142 -28 -96 -47 -169 -142 -193 -250 -4
            -23 -10 -27 -23 -21 -86 37 -130 46 -212 41 -47 -2 -93 -8 -102 -12 -17 -7
            -18 2 -18 106 -1 589 -146 1238 -420 1879 -75 177 -226 476 -313 624 -61 102
            -64 111 -55 145 5 20 71 254 145 521 194 699 183 655 172 693 -12 45 -49 78
            -96 84 -36 4 -172 -28 -656 -158 -59 -16 -113 -29 -120 -29 -9 0 -19 33 -31
            93 -26 138 -89 395 -146 591 -500 1742 -1694 3699 -3429 5621 -253 280 -529
            570 -573 602 -114 81 -245 118 -343 96z" />
          </g>
        </svg>
      </button>
    </div>

    <!-- Select de filtro -->
    <select class="select join-item w-32 rounded-none" formControlName="filtro">
      <option value="id_solicitud" selected>ID</option>
      <option value="id_obra">Obra</option>
      <option value="id_usuario">Usuario</option>
    </select>

    <!-- Botón -->
    <div class="indicator">
      <button type="submit" class="btn join-item">Buscar</button>
    </div>
  </form>
</div>


<!-- Botón flotante para abrir modal -->
<button *ngIf="authService.tienePermiso('Solicitudes', 'Agregar')"
  class="btn btn-primary btn-circle fixed bottom-6 right-6 shadow-lg" onclick="agregar_solicitud_modal.showModal()">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
  </svg>
</button>

<!-- Listado -->
<solicitud-table [solicitudes]="solicitudes() ?? []" [laboratoristas]="laboratoristas() ?? []"
  [mecanicosDeSuelos]="mecanicosDeSuelos() ?? []" *ngIf="authService.tienePermiso('Solicitudes', 'Consultar')" (loadSolicitudes)="loadSolicitudes(0,solicitudesPerPage())" />

<div class="w-full h-10 flex justify-center items-center" *ngIf="authService.tienePermiso('Solicitudes', 'Consultar')">
  <div class="flex gap-2 items-center h-20">
    <app-pagination [pages]="totalPaginas() ?? 0" [currentPage]="paginationService.currentPage()" />

    <select class="select select-bordered w-32" (change)="solicitudesPerPage.set(+selectPerPage.value)" #selectPerPage>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
</div>

<br>
<!-- Modal -->
<dialog id="agregar_solicitud_modal" class="modal">
  <div class="modal-box w-11/12 max-w-2xl">
    <h3 class="text-lg font-bold">Agregar Solicitud</h3>
    <p class="py-4">Ingresa la información requerida</p>

    <!-- Formulario real -->
    <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">

      <!-- Obra -->
      <div class="form-control md:col-span-2">
        <label class="label">
          <span class="label-text font-medium">Obra</span>
        </label>
        <select formControlName="id_obra" class="select select-bordered w-full">
          <option value="">Seleccione una obra</option>
          @for (obra of obras(); track obra.id_obra) {
          <option [value]="obra.id_obra">{{ obra.calle }}</option>
          }
        </select>
        <form-error-label [control]="solicitudForm.get('id_obra')!" />
      </div>

      <!-- Laboratorista -->
      <div class="form-control md:col-span-2">
        <label class="label">
          <span class="label-text font-medium">Laboratorista</span>
        </label>
        <select formControlName="id_usuario_laboratorio" class="select select-bordered w-full">
          <option value="">Seleccione un laboratorista</option>
          @for (laboratorista of laboratoristas(); track laboratorista.id_usuario) {
          <option [value]="laboratorista.id_usuario">{{ laboratorista.apellido_paterno }} {{
            laboratorista.apellido_materno }} {{ laboratorista.nombres }}</option>
          }
        </select>
        <form-error-label [control]="solicitudForm.get('id_usuario_laboratorio')!" />
      </div>

      <!-- Mecanico de Suelos -->
      <div class="form-control md:col-span-2">
        <label class="label">
          <span class="label-text font-medium">Mecanica de Suelos</span>
        </label>
        <select formControlName="id_usuario_ms" class="select select-bordered w-full">
          <option value="">Seleccione un mecanico de suelos</option>
          @for (mecanicoDeSuelos of mecanicosDeSuelos(); track mecanicoDeSuelos.id_usuario) {
          <option [value]="mecanicoDeSuelos.id_usuario">{{ mecanicoDeSuelos.apellido_paterno}} {{
            mecanicoDeSuelos.apellido_materno}} {{ mecanicoDeSuelos.nombres}}</option>
          }
        </select>
        <form-error-label [control]="solicitudForm.get('id_usuario_ms')!" />
      </div>
      
      <label class="cursor-pointer label">
        <span class="label-text">Solicitud</span>
        <input type="file" accept="application/pdf" class="file-input file-input-bordered w-full"
          (change)="onPdfSelected($event)">
      </label>

      <!-- Botones -->
      <div class="modal-action">
        <button type="submit" class="btn btn-secondary">Guardar</button>
        <button type="button" class="btn" onclick="agregar_solicitud_modal.close()">Cancelar</button>
      </div>
    </form>
  </div>
</dialog>